## TEST RAPIDE COMPETENCES PYTHON

In [ ]:
import dataiku
from dataiku import pandasutils as pdu
import pandas as pd

In [ ]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

### DEFINITION DE 2 DATAFRAMES :

In [ ]:
df1 = pd.DataFrame({'Id_eleve':['id1','id2','id3','id4'],'Classe':['6A','6A','6B','6B'],'Note_mathematiques': [14,12,7,18]})
df1

  Id_eleve Classe  Note_mathematiques
0      id1     6A                  14
1      id2     6A                  12
2      id3     6B                   7
3      id4     6B                  18

In [ ]:
df2 = pd.DataFrame({'Id_eleve':['id4','id3','id2','id1','id5'],'Classe':['6B','6B','6A','6A','6B'],'Note_francais': [11,12,8,16,9]})
df2

  Id_eleve Classe  Note_francais
0      id4     6B             11
1      id3     6B             12
2      id2     6A              8
3      id1     6A             16
4      id5     6B              9

### QUESTIONS MANIPULATION DE DATAFRAMES :

#### Question 1 : Afficher les 2 premières lignes de df1 comme ci-dessous

In [ ]:
#Pour afficher les 2 premières lignes, nous pouvons utiliser la function 'head' et definir combien de lignes nous voulons afficher.
df1.head(2)

  Id_eleve Classe  Note_mathematiques
0      id1     6A                  14
1      id2     6A                  12

In [ ]:
###

  Classe Id_eleve  Note_mathematiques
0     6A      id1                  14
1     6A      id2                  12

#### Question 2 : Créer df comme ci-dessous

In [ ]:
#Pour créer le dataframe dessous, nous devons joindre les deux dataframes differents avec la function 'merge' de pandas.
#J'ai renomé ce nouveau dataframe 'df'.
df = pd.merge(df1, df2)
df

  Id_eleve Classe  Note_mathematiques  Note_francais
0      id1     6A                  14             16
1      id2     6A                  12              8
2      id3     6B                   7             12
3      id4     6B                  18             11

In [ ]:
###

  Classe Id_eleve  Note_mathematiques  Note_francais
0     6A      id1                  14             16
1     6A      id2                  12              8
2     6B      id3                   7             12
3     6B      id4                  18             11

#### Question 3 : N'afficher que les lignes de df où les notes sont supérieures à 10 comme ci-dessous:

In [ ]:
#le 'loc' dans pandas permet de sélectionner les lignes et les colonnes spécifiques d'un dataframe.
df.loc[(df['Note_mathematiques'] > 10) & (df['Note_francais'] > 10)]

  Id_eleve Classe  Note_mathematiques  Note_francais
0      id1     6A                  14             16
3      id4     6B                  18             11

In [ ]:
###

  Classe Id_eleve  Note_mathematiques  Note_francais
0     6A      id1                  14             16
3     6B      id4                  18             11

#### Question 4 : Ajouter une colonne "Note_maths_inf_10" qui affiche 1 si la Note_mathematiques est inférieure à 10, 0 sinon (comme ci-dessous) :

In [ ]:
#Pour ajouter une colonne avec une condition(if,else statement), je crée au préalable un array avec la condition requise et par la suite je renomme mon dataframe avec le nom requis.
Note_maths_inf_10 = []
for row in df['Note_mathematiques']:
  if row < 10: Note_maths_inf_10.append(1)
  else: Note_maths_inf_10.append(0)

df['Note_maths_inf_10'] = Note_maths_inf_10
print(df)

  Id_eleve Classe  Note_mathematiques  Note_francais  Note_maths_inf_10
0      id1     6A                  14             16                  0
1      id2     6A                  12              8                  0
2      id3     6B                   7             12                  1
3      id4     6B                  18             11                  0

In [ ]:
###

  Classe Id_eleve  Note_mathematiques  Note_francais  Note_maths_inf_10
0     6A      id1                  14             16                  0
1     6A      id2                  12              8                  0
2     6B      id3                   7             12                  1
3     6B      id4                  18             11                  0

#### Question 5 : Construire le dataframe qui renvoie la moyenne des notes en mathématiques et en français par classe comme ci-dessous :

In [ ]:
#J'utilise la fonction 'groupby' pour regrouper la moyenne des deux notre par classe.
df.groupby(['Classe'])[['Note_mathematiques', 'Note_francais']].mean()

        Note_mathematiques  Note_francais
Classe
6A                    13.0           12.0
6B                    12.5           11.5

In [ ]:
###

  Classe  Note_mathematiques  Note_francais
0     6A                13.0           12.0
1     6B                12.5           11.5

### AUTRES QUESTIONS :

#### Question 6 :

Définir la fonction qui calcule la similarité de Jaccard de deux chaines de carcactères. 
On définit cette similarité comme le rapport entre le cardinal de l'intersection des ensembles de caractères des deux chaines et le cardinal de l'union des ensembles de caractères des deux chaines.



$ J(A,B) = \frac{|A \cap B|}{|A \cup B|} $

jaccard('bonjour','au revoir')
(0.2727272727272727, '3/11')

jaccard('clément','marion')
(0.16666666666666666, '2/12')

jaccard('python est le meilleur language','rien de mieux que R pour coder')
(0.42857142857142855, '9/21')

In [ ]:
# Je commence par definir ma fonction.
def jaccard(str1, str2):

    # En premier temps, je vais convertir le tableau de caractères de la première chaîne de caractère.
    set1 = set(str1)
    # print("set1", set1)

    # convertion du tableau de caractères de la deuxième chaîne de caractère.
    set2 = set(str2)   
    # print("set2", set2)

    # calcule des unions des ensembles de caractères(set1, set2)
    set_union = set1.union(set2)
    set_union_card = len(set_union)

    # print("set union", set_union)

    # calcule des intersections des caracteres(set1, set2)
    set_intersect = set1.intersection(set2)
    set_intersect_card = len(set_intersect)

    # print("set intersect", set_intersect)

    return (float(set_intersect_card) / set_union_card, f"{set_intersect_card}/{set_union_card}")

print(jaccard('bonjour','au revoir'))
print(jaccard('clÃ©ment','marion'))
print(jaccard('python est le meilleur language','rien de mieux que R pour coder'))

(0.2727272727272727, '3/11')
(0.16666666666666666, '2/12')
(0.42857142857142855, '9/21')

#### Question 7 : Appliquer cette fonction au texte ci-dessous de manière a obtenir le dataframe indiquant la distance de jaccard pour chaque paire de mots

In [ ]:
texte = "Sephora au coeur de la beauté"

In [ ]:
# Il faut commencer par diviser la chaîne de caractères.
items = texte.split()
# print(items)

mot_1 = []
mot_2 = []
sim_list = []

for i in range(len(items) - 1):
    word1 = items[i]
    for j in range(i + 1, len(items)):        
        word2 = items[j]

        sim = jaccard(word1, word2)

        # print(word1, word2, sim)

        mot_1.append(word1)
        mot_2.append(word2)
        sim_list.append(sim)

#Après avoir obtenu la distance de jaccard, je crée un dataframe.
data = {'mot_1': mot_1, 'mot_2': mot_2, 'jaccard': sim_list}
# print(data)


# Convertion du dictionnaire en dataframe
df = pd.DataFrame.from_dict(data)
df

      mot_1   mot_2                      jaccard
0   Sephora      au                 (0.125, 1/8)
1   Sephora   coeur    (0.3333333333333333, 3/9)
2   Sephora      de                 (0.125, 1/8)
3   Sephora      la                 (0.125, 1/8)
4   Sephora  beauté  (0.18181818181818182, 2/11)
5        au   coeur   (0.16666666666666666, 1/6)
6        au      de                   (0.0, 0/4)
7        au      la    (0.3333333333333333, 1/3)
8        au  beauté    (0.3333333333333333, 2/6)
9     coeur      de   (0.16666666666666666, 1/6)
10    coeur      la                   (0.0, 0/7)
11    coeur  beauté    (0.2222222222222222, 2/9)
12       de      la                   (0.0, 0/4)
13       de  beauté   (0.14285714285714285, 1/7)
14       la  beauté   (0.14285714285714285, 1/7)

Un petit commentaire sur cette reponse. Sur l'index 4,8,11,13 et 14, je remarque une difference sur la similarité de Jaccard. J'ai refait mes comptes et tout me semble être Ok.

In [ ]:
###

      mot_1   mot_2                 jaccard
0   Sephora      au            (0.125, 1/8)
1   Sephora   coeur   (0.333333333333, 3/9)
2   Sephora      de            (0.125, 1/8)
3   Sephora      la            (0.125, 1/8)
4   Sephora  beauté  (0.166666666667, 2/12)
5        au   coeur   (0.166666666667, 1/6)
6        au      de              (0.0, 0/4)
7        au      la   (0.333333333333, 1/3)
8        au  beauté   (0.285714285714, 2/7)
9     coeur      de   (0.166666666667, 1/6)
10    coeur      la              (0.0, 0/7)
11    coeur  beauté             (0.2, 2/10)
12       de      la              (0.0, 0/4)
13       de  beauté            (0.125, 1/8)
14       la  beauté            (0.125, 1/8)